* {
    box-sizing: border-box;
    font-family: "Raleway", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1d1f22;
}

a {
    text-decoration: none;
}

/* Navbar */

.header {
    position: absolute;
    width: 1440px;
    height: 80px;
    left: 0px;
    top: 0px;
}

.logo {
    position: absolute;
    width: 41px;
    height: 41px;
    left: 699px;
    top: calc(50% - 41px/2 + 4.5px);
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    justify-content: space-around;
    position: absolute;
    width: 234px;
    height: 56px;
    left: 101px;
    bottom: 0px;
}

.navigation a:hover {
    border-bottom: 2px solid #5ECE7B;
}

.label {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;
}

.navigation a:hover .label{
    color: #5ECE7B;
}
.label-active{
    color: #5ECE7B;
}

.tab-active{
    border-bottom: 2px solid #5ECE7B;
}
.actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 22px;
    position: absolute;
    width: 204px;
    height: 40px;
    right: 101px;
    top: 23px;
}

.currency {
    /* width: 38px;
    height: 29px; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.currency-sign {
    height: 29px;
    letter-spacing: 0;
    line-height: 28.8px;
    margin-top: -1;
    min-width: 12px;
    white-space: nowrap;
    color: rgba(29, 31, 34, 1);
    font-family: "Raleway-Light";
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
}

.currency img {
    align-self: center;
    height: 4px;
    margin-left: 10px;
    margin-top: 6px;
    width: 7px;
}

.cart-icon {
    width: 20px;
    height: 20px;
}

/* Title */
.title-position {
    position: absolute;
    width: 299px;
    height: 68px;
    left: 101px;
    top: 160px;
    display: flex;
    align-items: center;

}

.title {
    color: #1d1f22;
    font-family: "Raleway";
    font-size: 42px;
    font-weight: 400;
    height: 68px;
    letter-spacing: 0;
    line-height: 67.2px;
    white-space: nowrap;
    text-transform: uppercase;
}

/* Product Card*/

.product-card {
    /* position: relative; */
    width: 386px;
    height: 444px;
    left: 100px;
    top: 331px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
}

.product-card-img {
    width: 354px;
    height: 330px;
    top: 16px;
    left: 16px;
    margin: 16px 16px 0 16px;
}

.content {
    font-weight: 300;
    font-size: 18px;
    width: 354px;
    color: #1D1F22;
    margin: 24px 16px 0 16px;
}

.product-price {
    font-weight: 600;
    font-size: 18px;
    color: #1D1F22;
    margin: 16px 16px;
}

.products {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 312px;
    margin: 0 101px;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 60px;
    column-gap: 76px;
}

.product-card a {
    width: 386px;
    height: 444px;
}

.product-card a:hover {
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19) !important;
}

.cart-icon-small {
    position: relative;
    height: 56px;
    width: 56px;
    bottom: 123px;
    left: 288px;
    cursor: pointer;
    z-index: 10;
}

/* Product despcription page */

.product-container {
    display: flex;
    align-items: flex-start;
    margin-top: 160px;
    margin-left: 219px;
    height: 595px;
    min-width: 1002px;
}

.product-description {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 100px;
    min-height: 595px;
    width: 312px;
}

.product-container img {
    height: 511px;
    margin-top: 2px;
    width: 610px;
}

.product-brand {
    color: #1d1f22;
    font-family: "Raleway";
    font-weight: 600;
    font-size: 42px;
    height: 27px;
    letter-spacing: 0;
    line-height: 27px;
    white-space: nowrap;
}

.product-title {
    color: rgb(29, 31, 34);
    font-family: "Raleway";
    font-weight: 400;
    font-size: 30px;
    height: 27px;
    letter-spacing: 0;
    line-height: 27px;
    white-space: nowrap;
}

.attributes-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.attributes-text {
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    margin: 32px 0 10px 0;
}

.attributes-rectangle {
    width: 63px;
    height: 45px;
    border: 1px solid #1D1F22;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
}

.attributes-rectangle-color {
    width: 32px;
    height: 32px;
    border: 1px solid #5ece7b;
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
}

.product-description-price {
    letter-spacing: 0;
    white-space: nowrap;
    font-size: 24px;
    color: #1D1F22;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.product-description button {
    padding: 16px 32px;
    width: 292px;
    font-family: "Raleway";
    font-weight: 600;
    color: rgb(255, 255, 255, 1);
    background-color: rgba(94, 206, 123, 1);
    font-size: 16px;
    border: none;
}

.product-description-text {
    margin-top: 32px;
}

.product-images {
    float: left;
    position: absolute;
    left: 100px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.product-images img:hover {
    border: 1px solid rgba(94, 206, 123, 1);
}

.product-images img {
    width: 79px;
    height: 80px;
}

/* Cart */
.title-cart-position {
    margin: 160px 0 0 101px;

}

.title-cart {
    font-size: 32px;
    font-weight: 700;
    height: 68px;
    text-transform: uppercase;
}

.cart-line {
    width: 1240px;
    height: 1px;
    background: #E5E5E5;
    margin: 16px 101px 0;
}

.cart-line-container {
    width: 1240px;
    height: 1px;
    background: #E5E5E5;
    margin: 16px 0;
}

.cart-item-container {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    width: 1240px;
    flex-wrap: wrap;
}

.cart-brand-title-price {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.cart-attributes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 16px;
}

.cart-items-right {
    display: flex;
    flex-direction: row;
    margin: 24px 0 0 0;
    gap: 24px
}

.cart-quantity-selector {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-item-quantity {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-img {
    width: 200px;
    height: 288px;
}

.cart-minus-plus-squares {
    width: 45px;
    height: 45px;
    color: #1d1f22;
    border: 1px solid #1d1f22;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}

.cart-order-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    width: 279px;
    height: 43px;
    margin: 10px 0 32px 0;
    background-color: #5ECE7B;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    border: none;
}
.cart-order-container{
    display: flex;
    flex-direction: column;
    margin-left: 101px;
    gap: 8px;
    font-size: 24px;
}

/* Cart Overlay */

.cart-overlay {
    position: absolute;
    width: 325px;
    height: auto;
    left: 1043px;
    top: 78px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 16px;
    gap: 32px;
    z-index: 10;
}

.cart-overlay-products-container {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 40px;
    width: 300px;
    background-color: #fff;
}
.cart-overlay-item-container{
    display: flex;
    justify-content: space-between;
}

.cart-overlay-items-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cart-overlay-text{
    font-size: 16px;
}
.cart-overlay-product-price{
    font-size: 16px;
    font-weight: 600;
}
.cart-overlay-attributes-text{
    font-size: 14px;
}
.cart-overlay-attributes-rectangle{
    width: 28px;
    height: 28px;
    border: 1px solid #1D1F22; 
     display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 400;
    word-break: break-all;
    text-align: center;
}

.cart-overlay-attributes-rectangle-color{
    width: 16px;
    height: 16px;
    border: 1px solid #5ece7b;
}
.cart-overlay-items-right{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.cart-overlay-item-quantity{
    font-size: 16px;
    display: flex;
    justify-content: center;
}
.cart-overlay img {
    width: 121px;
    height: 190px;
}

.cart-overlay-total {
    display: flex;
    justify-content: space-between;
    width: 293px;
}

.cart-overlay-total-text {
    font-size: 16px;
    font-weight: 600;
}

.cart-overlay-price {
    font-size: 16px;
    font-weight: 700;
}

.cart-overlay-btns {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
}

.cart-overlay button {
    width: 140px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cart-overlay-view-bag {
    background-color: #fff;
    border: 1px solid #1d1f22;
}

.cart-overlay-check-out {
    background-color: #5ECE7B;
    color: #fff;
    border: none;
}